---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Categories from '../components/Categories.astro';
import WhyUs from '../components/WhyUs.astro';
import Coverage from '../components/Coverage.astro';
import Contact from '../components/Contact.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <About />
    <Categories />
    <WhyUs />
    <Coverage />
    <Contact />
  </main>
  <WhatsAppButton />
  <Footer />
</Layout>
